.home {
  position: relative;
  // background-color: black;
  grid-column: full-start / full-end;
  background-image: linear-gradient(
      rgba($color-black, 0.9),
      rgba($color-black, 0.9)
    ),
    url(../img/bg_photo.jpg);
  background-size: cover;
  background-position: top;

  &__paragraph {
    color: $color-secondary-2;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    // display: grid;

    padding: 0 10%;

    animation: moveRight 1s;
    // @include moveRight;

    @media only screen and (max-width: $bp-smaller) {
      padding: 0 5%;
    }
    @media only screen and (max-width: $bp-smallest) {
      padding: 0 1%;
    }
  }
}
.heading-italic {
  filter: brightness(0.4);
  font-style: italic;
  font-weight: lighter;
  font-size: 1.4rem;
  text-transform: lowercase;
  padding: 0 2rem;
}
.heading-1 {
  font-size: 12rem;
  font-weight: bolder;
  letter-spacing: 0.5rem;
  text-transform: uppercase;

  // transition: all 0.3s;

  @media only screen and (max-width: $bp-medium) {
    font-size: 10rem;
  }
  @media only screen and (max-width: $bp-small) {
    font-size: 8rem;
  }
  @media only screen and (max-width: $bp-smaller) {
    font-size: 7rem;
  }
  @media only screen and (max-width: $bp-smallest) {
    font-size: 6rem;
  }
}
.heading-3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: normal;

  // transition: all 0.3s;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.5rem;
  }
}

.p {
  padding-left: 2rem;
  margin: 2rem 0;
  display: flex;
  align-items: flex-end;
  //justify-content: space-between;
  line-height: 1;

  @media only screen and (max-width: $bp-smaller) {
    padding-left: 0;
  }
}

.padding {
  padding-left: 2rem;

  @media only screen and (max-width: $bp-smaller) {
    padding: 0;
  }
}
