.work {
  grid-column: center-start / center-end;
  grid-row: 1 / -1;
  margin: 5rem 0;
  padding: 0 2rem;
  padding-top: 2rem;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 8rem;
  overflow-y: scroll;
  background-color: transparent;

  // transition: all 0.3s;

  @media only screen and (max-width: $bp-large) {
    grid-row: 2 / 3;
  }

  .project {
    background-color: $color-grey-light-2;
    box-shadow: $shadow-2;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 3rem;
    transition: all 0.3s;
    animation: moveUp 1s;

    // @include moveUp;

    @media (hover: hover) and (pointer: fine) {
      &:hover {
        transform: translateY(-5px);
        overflow: hidden;
        box-shadow: $shadow-3;
      }
    }

    &__img {
      width: 100%;
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      z-index: 1;
      //border: 1px solid $color-grey-light-2;
    }

    &__name {
      grid-row: 1 / 2;
      grid-column: 1 / -1;
      justify-self: center;
      align-self: end;
      z-index: 3;

      width: 80%;
      font-family: $font-family-1;
      font-size: 1.6rem;
      text-align: center;
      padding: 1rem;
      background-color: $color-secondary;
      color: $color-secondary-2;
      font-weight: 400;
      transform: translateY(60%);
    }

    &__description {
      grid-column: 1 / 3;
      margin: 0 2rem;
      color: $color-grey-dark-3;
      font-weight: lighter;
      margin-top: 2rem;
    }
    &__btn {
      grid-column: 1 / -1;
    }
  }

  .span {
    grid-column: 1 / -1;
    height: 0.1rem;
  }
}
